.hero__container {
  padding: 2rem 1rem;
}

.hero {
  display: grid;
  grid-template-areas: 'left main main right';
  gap: 2rem;
}

/* Left hero */
.hero__left {
  grid-area: left;
}
.meal {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  cursor: pointer;
}
.meal__title {
  text-align: left;
  font-weight: bold;
}

/* Main hero */
.hero__main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: left;
  width: 100%;
}
.hero__slide {
  padding: 0 1rem;
  justify-content: initial;
  cursor: pointer;
}
.meal__img,
.hero__main-img,
.pop-meal-img {
  box-shadow: var(
    --hero-shadow,
    0 0 1px rgba(0, 0, 0, 0.1),
    0 2px 4px rgba(0, 0, 0, 0.02)
  );
  border-radius: 20px;
}
.hero__main h3 {
  margin: 0.5rem 0;
}

/* Right hero */
.hero__popular {
  grid-area: right;
  border: 1px solid #aaa;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: fit-content;
  border-radius: 20px;
}
.hero__popular-meals {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.pop-meal {
  display: flex;
  gap: 0.5rem;
  text-align: left;
  cursor: pointer;
}

/* Mediam Screens */
@media (max-width: 1024px) {
  .hero {
    grid-template-areas: 'main main main main' 'left left right right';
  }
}

/* Small Screens */
@media (max-width: 768px) {
  .hero {
    grid-template-areas: 'main' 'left' 'right';
  }
}
