@import 'bootstrap/dist/css/bootstrap.min.css';

/*----------------------- VARIABLES  */
:root {
  /* Colors */
  --main-clr: #f8ab15;
  --white-clr: #fff;
  --dark-clr: #333;
  --lightGray-clr: #ccc;

  /* Shadow */
  --header-shadow: 2px 4px 5px rgba(0, 0, 0, 0.2);
  --recipe-shadow: 0 8px 32px hsla(0, 0%, 10%, 0.1);
  --hero-shadow: 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.02);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
a {
  text-decoration: none !important;
}

ul {
  list-style: none !important;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
  transition: 0.3s;
}
